.style
{
    text-align: center;
    color: #FFBF00;
}
h1
{
    font-weight: bold;
}
.height
{
    line-height: 5.0;
}
#b
{
    background-color: black;
}
header, main, footer
{
    padding: 50px;
    border: 1px solid black;
    background-color: lightblue;
}
